<div class="container my-5 d-flex justify-content-center">
    <div class="card shadow-lg border-0 rounded-4 w-50">
      <div class="card-header bg-gradient color-login text-white rounded-top-4">
        <h5 class="mb-0 fw-bold">Iniciar Sesión</h5>
      </div>
      <div class="card-body p-4">
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">   
          <div class="mb-3">
            <label class="form-label fw-semibold">Correo electrónico</label>
            <input
              type="email"
              class="form-control form-control-lg rounded-3"
              name="email"
              [(ngModel)]="email"
              required
            />
          </div>
  
          <div class="mb-3">
            <label class="form-label fw-semibold">Contraseña</label>
            <input
              type="password"
              class="form-control form-control-lg rounded-3"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
  
          <button
            type="submit"
            class="btn btn-lg color-login w-100 text-white rounded-3 fw-semibold"
            [disabled]="loginForm.invalid"
          >
            <h5 class="fw-bold m-0">Entrar</h5>
          </button>
        </form>
      </div>
    </div>
  </div>
  
<!-- TOAST de error en al autentificación -->
  <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
    <div
      class="toast align-items-center text-bg-danger border-0 mt-2"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
      id="errorCredentials"
    >
      <div class="d-flex">
        <div class="toast-body">
          Credenciales incorrectas.
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>